<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="
      Explore leading electronic brands offering innovation and quality. From cutting-edge devices to stylish accessories, our curated selection ensures top-notch technology. Browse renowned brands, each synonymous with reliability and performance. Elevate your tech experience with products designed by industry leaders. Welcome to a digital marketplace where excellence meets innovation. Discover and shop from the best in the electronic world."
    />
    <meta
      name="keywords"
      content="electronics, devices, technology, gadgets, electronic accessories, consumer electronics, smart devices, technological products, smart appliances, mobile devices, audio and sound, cameras, computing, headphones, wearables, appliances, smart home gadgets, digital entertainment, device accessories, chargers, cables."
    />
    <meta name="author" content="Mauricio Saenz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electro Store - Marcas</title>

    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../assets/img/icon.png" />
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="d-none d-md-flex col-md-2 my-auto text-center">
            <img
              class="logo-company"
              src="../assets/img/logo-company.jpg"
              alt="logo sitio"
            />
          </div>
          <div class="col-12 col-md-10">
            <nav class="navbar navbar-expand-md float-none float-md-end">
              <div class="container-fluid">
                <div class="d-flex d-md-none col-12 my-auto text-center">
                  <img
                    class="logo-company"
                    src="../assets/img/logo-company.jpg"
                    alt="logo site"
                  />
                  <button
                    class="navbar-toggler ms-auto border-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>

                <div class="col-12">
                  <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          aria-current="page"
                          href="../index.html"
                          >Inicio</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./news.html">Novedades</a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link active animate__animated animate__swing"
                          href="./brands.html"
                          >Marcas</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./faq.html"
                          >Preguntas Frecuentes</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./who-are-we.html"
                          >Quienes somos</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="my-5">Marcas</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p class="my-3 px-5">
              Descubre las marcas líderes en innovación y calidad en nuestra
              sección de productos electrónicos. En nuestro amplio catálogo,
              ofrecemos una cuidada selección de marcas reconocidas que destacan
              por su rendimiento excepcional y diseño vanguardista. Desde
              dispositivos móviles hasta electrodomésticos inteligentes,
              colaboramos con marcas de renombre para brindarte lo mejor en
              tecnología. Explora nuestro catálogo y sumérgete en el mundo de la
              electrónica de la mano de las marcas más destacadas del mercado.
            </p>
          </div>
        </div>
        <div class="row text-center m-5">
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/panasonic.svg"
              alt="logo brand panasonic"
            />
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/toshiba.svg"
              alt="logo brand toshiba"
            />
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/samsung.svg"
              alt="logo brand samsung"
            />
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/siemens.svg"
              alt="logo brand siemens"
            />
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/xerox.svg"
              alt="logo brand xerox"
            />
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/apple.svg"
              alt="logo brand apple"
            />
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/dell.svg"
              alt="logo brand dell"
            />
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <img
              class="brand-logo"
              src="../assets/img/brands/hitachi.svg"
              alt="logo brand hitachi"
            />
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="row">
        <div class="col-12">
          <p class="mb-0">© 2023 All rights reserved.</p>
        </div>
      </div>
    </footer>

    <script src="../js/bootstrap.bundle.min.js"></script>
  </body>
</html>
