<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="
      Explore our Q&A section—a hub for answers to all your tech queries. From troubleshooting to product insights, our curated collection covers the latest in electronics. Dive into a pool of knowledge, where our experts address common questions and share valuable tips. Welcome to a digital marketplace where understanding technology is just a click away. Explore, learn, and find solutions in our dedicated Q&A space."
    />
    <meta
      name="keywords"
      content="electronics, devices, technology, gadgets, electronic accessories, consumer electronics, smart devices, technological products, smart appliances, mobile devices, audio and sound, cameras, computing, headphones, wearables, appliances, smart home gadgets, digital entertainment, device accessories, chargers, cables."
    />
    <meta name="author" content="Mauricio Saenz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electro Store - Preguntas Frecuentes</title>

    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../assets/img/icon.png" />
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="d-none d-md-flex col-md-2 my-auto text-center">
            <img
              class="logo-company"
              src="../assets/img/logo-company.jpg"
              alt="logo site"
            />
          </div>
          <div class="col-12 col-md-10">
            <nav class="navbar navbar-expand-md float-none float-md-end">
              <div class="container-fluid">
                <div class="d-flex d-md-none col-12 my-auto text-center">
                  <img
                    class="logo-company"
                    src="../assets/img/logo-company.jpg"
                    alt="logo site"
                  />
                  <button
                    class="navbar-toggler ms-auto border-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>

                <div class="col-12">
                  <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          aria-current="page"
                          href="../index.html"
                          >Inicio</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./news.html">Novedades</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./brands.html">Marcas</a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link active animate__animated animate__swing"
                          href="./faq.html"
                          >Preguntas Frecuentes</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./who-are-we.html"
                          >Quienes somos</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="container-fluid text-center">
        <div class="row">
          <div class="col-12">
            <h1 class="m-3 m-md-5">Preguntas Frecuentes</h1>
          </div>
        </div>

        <div class="row my-5">
          <div class="col-12">
            <h2 class="font-weight-bolder">¿Cuánto es la demora del pedido?</h2>
            <p>
              La demora es de 24 hrs desde el momento de la acreditación del
              pago. Está claro que hacemos lo posible para acelerar todos los
              tiempos para que tengan cuanto antes los productos solicitados.
            </p>
          </div>
        </div>

        <div class="row my-5">
          <div class="col-12">
            <h2>¿Puedo comprar desde cualquier parte del país?</h2>
            <p>
              Claro que sí. Antes de finalizar la compra, hay que elegir la
              forma de envío, ahí podés seleccionar las diferentes opciones para
              que te llegue a tu domicilio. Realizamos los envíos a través del
              transporte de carga que nos indiques.
            </p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-12">
            <h2>Formas de envío</h2>
            <p>
              Retirar en el local – Transporte.Al Interior: Pasadas las 24 horas
              de la acreditación del pago, enviaremos tu pedido. Despachamos
              desde hace casi 50 años, todos los días a todos los rincones del
              país, a través del transporte de carga que nos indiques.
            </p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-12">
            <h2>Forma de pago</h2>
            <p>
              Transferencia/depósito bancario – Una vez hecha la transferencia o
              depósito, envianos el comprobante. Una vez reflejado el pago
              realizaremos el envio correspondiente. Mercado Pago – Al finalizar
              la compra recibiremos una confirmación por correo electrónico por
              parte de Mercado Pago, luego de recibirla realizaremos el envío.
              Efectivo.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="row">
        <div class="col-12">
          <p class="mb-0">© 2023 All rights reserved.</p>
        </div>
      </div>
    </footer>

    <script src="../js/bootstrap.bundle.min.js"></script>
  </body>
</html>
