<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Explore the latest in electronic innovation with our curated selection of new products. From cutting-edge devices to stylish accessories, our collection showcases the newest and most exciting technology. Discover and shop from a range of innovative products, each designed to elevate your tech experience. Welcome to a digital marketplace where the latest in electronics meets your curiosity. Explore, discover, and embrace the future of technology."
    />
    <meta
      name="keywords"
      content="electronics, devices, technology, gadgets, electronic accessories, consumer electronics, smart devices, technological products, smart appliances, mobile devices, audio and sound, cameras, computing, headphones, wearables, appliances, smart home gadgets, digital entertainment, device accessories, chargers, cables."
    />
    <meta name="author" content="Mauricio Saenz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electro Store - Novedades</title>

    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../assets/img/icon.png" />
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="d-none d-md-flex col-md-2 my-auto text-center">
            <img
              class="logo-company"
              src="../assets/img/logo-company.jpg"
              alt="logo site"
            />
          </div>
          <div class="col-12 col-md-10">
            <nav class="navbar navbar-expand-md float-none float-md-end">
              <div class="container-fluid">
                <div class="d-flex d-md-none col-12 my-auto text-center">
                  <img
                    class="logo-company"
                    src="../assets/img/logo-company.jpg"
                    alt="logo site"
                  />
                  <button
                    class="navbar-toggler ms-auto border-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>

                <div class="col-12">
                  <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          aria-current="page"
                          href="../index.html"
                          >Inicio</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link active animate__animated animate__swing"
                          href="./news.html"
                          >Novedades</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./brands.html">Marcas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./faq.html"
                          >Preguntas Frecuentes</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./who-are-we.html"
                          >Quienes somos</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="m-3 m-md-5">Novedades</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="news-card">
              <img
                class="img-fluid"
                src="../assets/img/news/popcornmachine.jpg"
                alt="popcorn machine"
              />
              <h3 class="mt-3 mb-0">Pochoclera</h3>
              <p>
                Transforma tus noches de cine con nuestra pochoclera de última
                generación. Diseñada para la máxima comodidad, esta pochoclera
                combina estilo y funcionalidad. Con solo un toque, disfruta de
                palomitas crujientes y perfectamente preparadas. Su diseño
                elegante se adapta a cualquier espacio, añadiendo un toque de
                sofisticación a tu entretenimiento en casa. Eleva tus noches de
                películas con la pochoclera que hace del cine en casa una
                experiencia extraordinaria.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="news-card">
              <img
                class="img-fluid"
                src="../assets/img/news/flashlight.jpg"
                alt="flashlight"
              />
              <h3 class="mt-3 mb-0">Linterna</h3>
              <p>
                Ilumina tus aventuras con nuestra linterna ultrabrillante.
                Diseñada para ser tu compañera de confianza en cada paso, esta
                linterna compacta y potente ofrece una luz intensa en cualquier
                situación. Con un diseño resistente y fácil de transportar, es
                perfecta para acampar, hacer senderismo o emergencias. No dejes
                que la oscuridad detenga tus planes, lleva contigo la
                luminosidad confiable de nuestra linterna.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="news-card">
              <img
                class="img-fluid"
                src="../assets/img/news/stove.jpg"
                alt="electrical stove"
              />
              <h3 class="mt-3 mb-0">Anafe electrico</h3>
              <p>
                Experimenta la cocina moderna con nuestro anafe eléctrico de
                última generación. Compacto y potente, este anafe redefine la
                forma en que cocinas. Con controles precisos y un diseño
                elegante, se adapta perfectamente a cualquier espacio de cocina.
                Disfruta de la eficiencia energética y la versatilidad para
                cocinar tus platos favoritos. Simplifica tu vida en la cocina
                con la innovación de nuestro anafe eléctrico.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="news-card">
              <img
                class="img-fluid"
                src="../assets/img/news/phone.jpg"
                alt="phone"
              />
              <h3 class="mt-3 mb-0">Telefono</h3>
              <p>
                Experimenta la comunicación sin esfuerzo con nuestro teléfono
                fijo de última generación. Este dispositivo combina estilo
                contemporáneo y funcionalidad superior. Con funciones intuitivas
                y un diseño elegante, este teléfono ofrece claridad de audio
                excepcional para cada llamada. Simplifica tu vida diaria con la
                confiabilidad y la simplicidad de nuestro teléfono fijo, la
                elección perfecta para mantener conexiones claras y efectivas en
                tu hogar u oficina.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="news-card">
              <img
                class="img-fluid"
                src="../assets/img/news/multiprocessor.jpg"
                alt="multiprocessor"
              />
              <h3 class="mt-3 mb-0">Multiprocesadora</h3>
              <p>
                Simplifica tu cocina con nuestra multiprocesadora versátil. Con
                potencia y precisión, este electrodoméstico todo en uno se
                convierte en tu aliado culinario perfecto. Desde cortar y rallar
                hasta batir y amasar, realiza todas tus tareas con facilidad. Su
                diseño compacto y elegante complementa cualquier espacio.
                Experimenta la eficiencia y la comodidad con nuestra
                multiprocesadora, llevando la innovación directamente a tu
                cocina.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="news-card">
              <img
                class="img-fluid"
                src="../assets/img/news/corkscrew.jpg"
                alt="corkscrew"
              />
              <h3 class="mt-3 mb-0">Sacacorchos</h3>
              <p>
                Descubre la elegancia y la practicidad con nuestro sacacorchos
                eléctrico. Diseñado para hacer que abrir una botella de vino sea
                sin esfuerzo, este accesorio combina estilo y funcionalidad. Con
                solo tocar un botón, disfruta de la experiencia sin
                complicaciones de descorchar tu vino favorito. Su diseño
                ergonómico y carga rápida hacen que sea imprescindible para los
                amantes del vino. Simplifica el ritual de abrir botellas con
                nuestro sacacorchos eléctrico.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="row">
        <div class="col-12">
          <p class="mb-0">© 2023 All rights reserved.</p>
        </div>
      </div>
    </footer>

    <script src="../js/bootstrap.bundle.min.js"></script>
  </body>
</html>
